obj/Debug/netcoreapp2.0/CodeOfKutulu.csproj.FileListAbsolute.txt
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.0/CodeOfKutulu.dll
bin/Debug/netcoreapp2.0/CodeOfKutulu.pdb
bin/Debug/netcoreapp2.0/CodeOfKutulu.deps.json
bin/Debug/netcoreapp2.0/CodeOfKutulu.runtimeconfig.json
bin/Debug/netcoreapp2.0/CodeOfKutulu.runtimeconfig.dev.json
obj/CodeOfKutulu.csproj.nuget.cache
obj/CodeOfKutulu.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.0/CodeOfKutulu.dll
obj/Debug/netcoreapp2.0/CodeOfKutulu.pdb
obj/Debug/netcoreapp2.0/CodeOfKutulu.csproj.CoreCompileInputs.cache
obj/project.assets.json
obj/CodeOfKutulu.csproj.nuget.cache
obj/CodeOfKutulu.csproj.nuget.g.props
obj/Debug/netcoreapp2.0/CodeOfKutulu.csproj.CoreCompileInputs.cache
